<%
  def link_to(name,url)
    return "<a href='#{url}'>#{name}</a>"
  end
%>


<html>
  <body>
    
    <h1>You're using a layout</h1>
    <p><%= @request.query.inspect %><p>
    <p>
      <h3> I'm a header</h3>
      <p>Put things in the header</p>
      <a href='me.html'>Me</a>
      <%= link_to('Google it!','http://google.com')%>
      <%= link_to('Facebook it!','http://facebook.com')%>
      <%= link_to('Tweet it!','http://twitter.com')%>

    </p>
    <form method='post' action="<%= @request.path %>">
      First name: <input type="password" name="password" placeholder='password'/><br />
      <input type="submit" value="Submit" />
    </form>
    <hr />
    <div>
      <%= yield %>
    </div>
    <hr />
    <div>
      <h3> I'm a footer</h3>
      <p>Put things in the footer</p>
    </div>
  </body>
</html>